body{
    margin:0;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    width:100%;
    border: 30px solid black;

}
.mainPagePhoto{
    height:100vh;
    width:100%;
}
.header{
    position:fixed;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 80%;
    top:9px;
    height:94px;
    justify-content: space-around;
}
.header-inner{
    display:flex;
    position:relative;
    align-items: center;
    width: 100%;
    height: 100%;
    left:135px;
    
}
.spaceXLogo {
    position:absolute;
    height:63%;
    width:16%;
    left:149px;
}
.ulClass{
    position: relative;
    display:flex;
    gap:30px;
    align-items: center;
    font-family: 'Prompt', sans-serif;
    flex-direction: row;
    list-style-type:none;
    font-weight: 400;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    font-size: 13px;
    left:220px;
    
}
.navLinks{
 display:flex;
 position: relative;
 width:100%;
 height:100%;
 left:150px;
}

.nav-item a{
    color:white;
    text-decoration: none;
}


.outerheader{
    display:flex;
    position: relative;
    color: white;
    left:640px;
    align-items: center;
    font-size: 13px;
    width:50px;
    font-family: 'Prompt', sans-serif;
    list-style-type: none;
}

.hamburger{
    display:flex;
    position: relative;
    color: white;
    left:650px;
    align-items: center;
    font-size: 13px;
    width:50px;
    font-family: 'Prompt', sans-serif;
    list-style-type: none;
}